@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-primary:#4f4f4f;
    --clr-second:#828282;
    --clr-third:#333333;
    --clr-skill-cart:#d3f7f2;
    --clr-skill-cart2:#d3f7f2;
}
body{
    background: #e4ea8a;
}
.container{
    width: min(100%, 1440px);
    margin: auto;
    border: 2px solid darkorchid;
}
/* Mode button */
.darkDiv{
    width:min(100%,1046px);
    margin: 1rem auto;
    /* width: 90rem; */
    /* position: relative; */
    text-align: right;
}
.dark{
    cursor: pointer;
    font-family: Poppins;
    font-weight: 500;
    font-size:0.8rem;
    border-radius: 8px;
    color: #f2f2f2;
    background: #6d0ab4;
    padding: 0.6rem;
    text-align:center;
    transition-duration: .15s;
}
.dark:hover{
    color: #f2f2f2;
    background: rgb(219, 57, 45);
}

section{
    width:min(100%,1046px);
    margin: auto;
}

/* intro section */

.intro-section{
    --min-cols-size:40rem;
    display: grid;
    gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(min(var(--min-cols-size),100%),1fr)); */
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    /* border: 8px solid darkgreen; */
}
.intro-col1{
    grid-row: 1 / 3;
    grid-column: 1 / -3;
}
.intro-img{
    width: 17rem;
    height: 16.688rem;
    border-radius: 12px;
    /* border: 2px solid tomato; */
}
.intro-col3{
    grid-column: 2 / 4;
    align-self: baseline;
    display: flex;
    flex-wrap: wrap;
    /* width:47rem; */
    /* border: 2px solid darkorange; */
}
.grid-intro-col2{
    grid-column: 2 / 4;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid darkmagenta; */
}
.grid-intro-col-one{
    display: grid;    
}
.grid-intro-col-two{
    display: grid;
    justify-content: end;
}
.clr-change{
    color: var(--clr-primary);
}
.symbol-wrap{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.intro-heading{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: var(--clr-primary);
}
.profile-desc{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-second);    
}
.email-addrs{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: var(--clr-primary);    
}
.ph-no{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: var(--clr-primary);    
}
.aboutMe{
    /* width: 42rem; */
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-second);    
}

/* mainGrid section */
.mainGrid{
    margin-top: 2rem;
    /* --min-cols-size:2    0rem; */
    display: grid;
    gap: 1rem;
    /* grid-template-columns: repeat(auto-fit, minmax(min(var(--min-cols-size),100%),1fr)); */
    grid-template-columns: repeat(3, 1fr);
}
/* .column1{
    border: 2px solid deeppink;
} */
.desc-role,
.hob-desc:nth-child(3){
    border: 2px solid red;
}

/* Animates skill bar */

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 415.02px;
    height: 303px;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--clr-skill-cart);
}
.role-name{
    margin: 1rem 1.5rem;
    width: fit-content;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    color: var(--clr-primary);    
}
.skill li {
    list-style-type: none;
}
.skill-wrapper{
    margin: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.technologis{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.bar{
    background: #353b48;
    display: block;
    height: 1.2rem;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 1.2rem;
    float: left;
    background: linear-gradient(135deg, rgb(255, 7, 156)0%, hsl(0, 57%, 66%)100%);
}    
.html{
    width: 70%;
    animation: html 5s ease-in-out infinite;
}
.css{
    width: 50%;
    animation: css 5s ease-in-out infinite;
}
.javascript{
    width: 60%;
    animation: javascript 5s ease-in-out infinite;
}
.react-js{
    width: 40%;
    animation: react-js 5s ease-in-out infinite;
}
.redux{
    width: 30%;
    animation: redux 5s ease-in-out infinite;
}

@keyframes html{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 167px;
    }
}
@keyframes css{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 119px;
    }
}
@keyframes javascript{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 143px;
    }
}
@keyframes react-js{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 95px;
    }
}
@keyframes redux{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 71px;
    }
}

/* Animates skill bar Ends*/


/* Experience */

.experience{
    height: fit-content;
    display: grid;
}
.exp-heading{
    margin: 1rem 1.5rem;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-primary);
}
.exp-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.exp-wrapper:hover{
    box-shadow: 0px 10px 20px rgb(225, 54, 2);

}
.exp-wrp-left{
    place-self:start;
    margin: 0.6rem 0.6rem;
}

.exp-wrp-right{
    margin: 0.6rem 0.3rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
}
.exp-logo{
    width: 4rem;
    height: 3rem;
}
.exp{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.role-heading{
    margin: 0.8rem 0 1rem 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    color: var(--clr-primary);    
}
.desc-role{
    width: fit-content;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-primary);    
}


/* Hobbies */

.wrapper-design{
    margin: 1rem 0.9rem;
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgb(71, 95, 80);
}
.cart-design{
    margin: 2rem 0;
    width: 413px;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color:#d3f7f2;
    background-color:var(--clr-skill-cart2);
}

.hobbies{
    height: fit-content;
    display: grid;
}
.hob-heading{
    margin: 1rem 1.5rem;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.hobbies-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.hobbies-wrapper:hover{
    box-shadow: 0px 10px 20px rgb(225, 54, 2);
}
.hob-img{
    width: 340px;
    height: 139px;
    border-radius: 12px;
}
.hob-name{
    margin: 1rem 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-primary);    
}
.hob-desc{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-primary);    
}


/* column2 */

.column2{
    grid-column: 2 / 4;
    height: fit-content;
    border: 2px solid deeppink;
}
.tabs-wrap{
    margin: 1rem 1.5rem ;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--clr-skill-cart2);
}
.tab-heading{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary);    
}

.tab-btn{
    margin-left: 0.7rem;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    height: 40px;
    border-radius: 16px;
    color: #7c13b4;
}
/* #tab-btn1,
#tab-btn2{
    display: none;
} */
/* .tab-btn:hover{
    color: #FFFFFF;
    background: #ff003b;
    transition: ease-in-out 0.8s;
} */
.tabs-btn-active{
    background-color: brown;
    color: floralwhite;
}
.proj-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    box-shadow: 10px 10px 20px rgb(71, 95, 80);
}
.displayClass{
    display: grid;
}
.proj-grid:hover{
    box-shadow: 0px 10px 20px rgb(83, 80, 207);
}
.projGrid-column1{
    padding: 1rem;
    cursor: pointer;
}
.proj-img{
    width: 222px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 15px 15px 20px 0px rgb(118 139 147);
    /* border: 2px solid green; */
}

.projGrid-column2{
    padding: 0.8rem;
    grid-column: 2  / 4;
    display: flex;
    flex-wrap: wrap;
}
.proj-heading{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.proj-desc{
    margin: 1rem 0 3rem 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-second);    
}


.proj-links-wrapper{
    /* margin-top: 3rem; */
    display: flex;
}
.links-div1 a{
    text-decoration: none;
}
.links-div1{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136.27px;
    height: 46px;
    border-radius: 12px;
    background-color: #2F80ED;
}
.proj-link{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;    
    color: #FFFFFF;
}
.links-div2 a{
    text-decoration: none;
}
.links-div2{
    margin-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136.27px;
    height: 46px;
    border-radius: 12px;
    /* background-color: #FFFFFF; */
    border: 1px solid #2F80ED
}
.git-link{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;    
    color: #2F80ED;
}