@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-primary:#4f4f4f;
    --clr-second:#828282;
    --clr-third:#333333;
    --clr-skill-cart:#d3f7f2;
    --clr-cert-btn:#051c93;
}
.container{
    width: min(100%, 1440px);
    margin: auto;
    padding: 1rem;
}
/* Mode button */
.darkDiv{
    width:min(100%, 1046px);
    margin: 1rem auto;
    text-align: right;
}
.dark{
    cursor: pointer;
    font-family: Poppins;
    font-weight: 500;
    font-size:0.8rem;
    border-radius: 8px;
    color: #f2f2f2;
    background: #6d0ab4;
    padding: 0.6rem;
    text-align:center;
    transition-duration: .15s;
}
.dark:hover{
    color: #f2f2f2;
    background: rgb(219, 57, 45);
}

section{
    width:min(100%,1046px);
    margin: auto;
}

/* intro section */

.intro-section{
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    align-items: center;

    height: 20rem;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--clr-skill-cart);
}
.intro-col1{
    grid-row: 1 / 3;
    grid-column: 1 / -3;
}
.intro-img{
    width: 17rem;
    height: 16.688rem;
    border-radius: 12px;
}
.intro-col3{
    grid-column: 2 / 4;
    align-self: baseline;
    display: flex;
    flex-wrap: wrap;
}
.grid-intro-col2{
    grid-column: 2 / 4;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}
.grid-intro-col-one{
    height: 4rem;
    display: grid;
}
.grid-intro-col-two{
    height: 4rem;
    display: grid;
    justify-content: end;
}
.clr-change{
    color: var(--clr-primary);
}
.symbol-wrap{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
.intro-heading{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    color: var(--clr-primary);
}
.profile-desc{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-second);    
}
.email-addrs{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: var(--clr-primary);    
}
.ph-no{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    color: var(--clr-primary);    
}
.aboutMe{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-second);    
}

.certificate{
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
}
.cert-heading{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-primary);
}
.cert-btn{
    text-align: center;
    text-decoration: none;
    margin-left: 0.7rem;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    height: 20px;
    color: var(--clr-cert-btn);
    border-radius: 16px;
}

/* mainGrid section */

.mainGrid{
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

/* Animates skill bar */

.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 415.02px;
    height: 303px;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: var(--clr-skill-cart);
}
.role-name{
    margin: 1rem 1.5rem;
    width: fit-content;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    color: var(--clr-primary);    
}
.skill li {
    list-style-type: none;
}
.skill-wrapper{
    margin: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.technologis{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.bar{
    background: #353b48;
    display: block;
    height: 1.2rem;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,.1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 1.2rem;
    float: left;
    background: linear-gradient(135deg, rgb(255, 7, 156)0%, hsl(0, 57%, 66%)100%);
}    
.html{
    width: 70%;
    animation: html 5s ease-in-out infinite;
}
.css{
    width: 50%;
    animation: css 5s ease-in-out infinite;
}
.javascript{
    width: 60%;
    animation: javascript 5s ease-in-out infinite;
}
.react-js{
    width: 40%;
    animation: react-js 5s ease-in-out infinite;
}
.redux{
    width: 30%;
    animation: redux 5s ease-in-out infinite;
}

@keyframes html{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 167px;
    }
}
@keyframes css{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 119px;
    }
}
@keyframes javascript{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 143px;
    }
}
@keyframes react-js{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 95px;
    }
}
@keyframes redux{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 71px;
    }
}

/* Animates skill bar Ends*/


.wrapper-design{
    margin: 1rem 0.9rem;
    border-radius: 12px;
    box-shadow: 5px 6px 20px rgb(71, 95, 80);
}
.cart-design{
    margin: 2rem 0;
    width: 413px;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color:#d3f7f2;
    background-color:var(--clr-skill-cart);
}


/* Experience */

.experience{
    margin: 2rem 0 0 0;
    height: fit-content;
    display: grid;
}
.exp-heading{
    margin: 1rem 1.5rem;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-primary);
}
.exp-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.exp-wrapper:hover{
    box-shadow: 0px 10px 20px rgb(225, 54, 2);

}
.exp-wrp-left{
    place-self:start;
    margin: 0.6rem 0.6rem;
}

.exp-wrp-right{
    margin: 0.6rem 0.3rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
}
.exp-logo{
    width: 5rem;
    height: 3rem;
    background-color: #d3f7f2;
    border-radius: 6px;
}
.exp{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.role-heading{
    margin: 0.8rem 0 1rem 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;
    color: var(--clr-primary);    
}
.desc-role{
    width: fit-content;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-primary);    
}

/* column2 */

.column2{
    grid-column: 2 / 4;
    height: fit-content;
    background-color: var(--clr-skill-cart);
}
.tabs-wrap{
    margin: 1rem 1.5rem ;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
}
.tab-heading{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--clr-primary);    
}

.tab-btn{
    margin-left: 0.7rem;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    width: 140px;
    height: 40px;
    border-radius: 16px;
    color: #7c13b4;
}

.tab-btn:hover{
    color: #FFFFFF;
    background: #ff003b;
    transition: ease-in-out;
}
.tabs-btn-active{
    background-color: brown;
    color: floralwhite;
}
.proj-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 12px;
    box-shadow: 5px 6px 20px rgb(71, 95, 80);
}

.proj-grid:hover{
    box-shadow: 0px 10px 20px rgb(83, 80, 207);
}
.projGrid-column1{
    padding: 1rem;
    cursor: pointer;
}
.proj-img{
    width: 222px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 9px 15px 0px 0px rgb(118 132 147);
}

.projGrid-column2{
    padding: 0.8rem;
    grid-column: 2  / 4;
    display: flex;
    flex-wrap: wrap;
}
.proj-heading{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    color: var(--clr-primary);    
}
.proj-desc{
    margin: 1rem 0 3rem 0;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-second);    
}

.proj-links-wrapper{
    display: flex;
}
.links-div1 a{
    text-decoration: none;
}
.links-div1{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136.27px;
    height: 46px;
    border-radius: 12px;
    background-color: #2F80ED;
}
.proj-link{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;    
    color: #FFFFFF;
}
.links-div2 a{
    text-decoration: none;
}
.links-div2{
    margin-left: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 136.27px;
    height: 46px;
    border-radius: 12px;
    border: 1px solid #2F80ED
}
.git-link{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;    
    color: #2F80ED;
}

/* pagination */

.pagination-container{
    /* padding: 1rem 0 0 0; */
    display: flex;
    justify-content: flex-end;
}
.pagination-wrap{
    padding: 0 0 1rem 0;
    width: 21rem;
    display: flex;
    justify-content: space-around;
}
.pagination-wrap button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-btn{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    width: 50px;
    height: 45px;
    border-radius: 12px;
    color: #7c13b4;
}
.page-bn-navigator{
    font-size: 28px;
    font-weight: 800;
}




@media only screen and (max-width:1035px) {
/* column two */

    .column2{
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .tabs{
        flex-direction: column;
        justify-content: center;
    }
    .tabs-wrap {
        display: grid;
        margin: 1rem 1.5rem;
        justify-items: center;
    }
    .tabs-wrap > span,button{
        margin: 2rem 0 0 0;
    }
    .proj-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projGrid-column2{
        flex-direction: column;
        width: 15rem;
    }
    .proj-heading{
        width: 15rem;
    }
    .proj-desc {
        width: 15rem;
        margin: 1rem 0 2rem 0;
    }
    .proj-links-wrapper {
        width: 12rem;
        flex-direction: column;
        align-items: center;
    }
    .proj-links-wrapper > div {
        margin: 0 0 1rem 0;
    }
}






@media only screen and (max-width:760px) {

    .container{
        padding: 0.4rem;
    }
    .column1{
        order: 1;
    }
    .column2{
        order: 2;
    }
    .darkDiv,
    .skill,
    .intro-section,
    .experience,
    .tabs{
        width: 340px;
    }
    
    .darkDiv{
        text-align: end;
    }
    .dark{
        margin: 0;
    }
    .intro-section{
        padding: 2rem 0 0 0;
        height: 50rem;
        display: flex;
        flex-direction: column;
    }
    
    .grid-intro-col2{
        height: 8rem;
        display: flex;
        flex-direction: column;
        width: 17rem;
        justify-content: space-evenly;
    }
    .grid-intro-col-two {
        justify-content: start;
    }
    .intro-col3 {
        margin: 1rem 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutMe{
        width: 17rem;
    }
    .certificate{
        margin: 1.5rem 0 0 0;
        width: 17rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .cert-btn{
        margin: 0.6rem 0 0 0;
    }
    .mainGrid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* column one */

    .column1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .technologis {
        font-weight: 600;
    }
    .bar{
        width: 11rem;
    }
    .experience{
        height: fit-content;
    }
    .exp-wrapper {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .exp-wrp-left,
    .exp-wrp-right{
        margin: 0;
    }

}